#header {
  background-color: azure;
}

h1 {
  text-align: center;
}

p {
  text-align: center;
}

img {
  display: block;
  height: auto;
  max-width: 100%;
  margin: 0 auto;
}

#img-div {
  background: white;
  padding: 10px;
  margin: 0;
}

#img-caption {
  margin: 15px 0 5px 0;
}
